html, body, button, h1 {
    margin: 0;
    padding: 0;
}

.out {
    width: 20%;
    height: 100px;
    margin: 250px auto;
}

.line {
    margin: 20px 0;
}

.flex {
    display: flex;
}

.center {
    flex: 1;
}

.toBlue {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    color: blue;
}

.toBlack {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    color: black;
}

.line {
    height: 20px;

}

.left, .right {
    float: left;
    width: 50%;
}

.left {
    background: blue;
}

.right {
    background-color: white;
}

.line-right {
    float: left;
    height: 3px;
    width: 0;
    background-color: blue;
}

.line-left {
    height: 3px;
    width: 100%;
    background-color: white;
}

/*.line-left:hover {
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: width linear 5s;
    width: 0;
}

.line-right:hover {
    transition: width linear 5s;
    width: 100%;

}*/
.left-transition{
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    width: 0;
}


.right-transition{
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    width: 100%;
}

.left-reverse{
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    width: 100%;
}

.right-reverse{
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    width: 0;
}


